.footer-row {
    max-width: 95rem;
    margin-left: auto;
    margin-right: auto;
}
.footer {
    font-size: 12px;
    padding: 2rem 0;
    background: #333;
    color: #cacaca;
}
.menu {
    margin: 0;
    list-style-type: none;
    padding-left: 0px;
}
.buffer-m-t-32 {
    margin-top: 32px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
    margin-left: auto;
}
.no-bullet {
    list-style: none;
}
.footer a {
    color: #fefefe;
}
.footer h6 {
    color: #8a8a8a;
}